<%- include('./partials/header.ejs') %>
    <h1>SNES Games Page</h1>
    <p><%=snes.title %> </p>
    <p><img class="images" src=<%=snes.img %> /></p>
    <p><%=snes.genre %></p>
    <p><%=snes.developer %></p>
    <p><%=snes.rating %></p>
    <p><%=snes.year %></p>
<nav>
    <a href="/snes/<%=snes.id %>/edit">Edit</a>

</nav>
</body>
</html>